body {
  max-width: 1400px; 
  margin: 0 auto; 
  
}
.banner{
  width: 100%;
  height: 200px; 
}
  .button-link {
    border: none; 
    font-weight: bold; 
    padding: 10px 20px; 
    background-color: transparent; 
    cursor: pointer; 
    text-decoration: none; 
    font-size: 18px; 
    color:  #5c3c06; 
  }
  .button-link2 {
    border: none; 
    font-weight: bold;
    background-color: transparent; 
    cursor: pointer; 
    text-decoration: none; 
    color: black;
  }
  .box 
  {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex; 
    justify-content: space-between; 
    position: sticky;
    top: 0px;
    background-color: #FFF9F5;;
    border-bottom: 1px solid #C6B5A9; 
  }

  .box div {
    text-align: center;
    flex: 1; 
  }
  
  p{
    text-align: left;
  }

.grid-container {
  display: grid;

  background-color: white;
  grid-template-columns: 1fr 2fr; 
}

.grid-item1 img {
  width: 100%;
  height: auto;

}
/* .grid-item2 {

  padding: 10px;
}
*/

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px ;
}
  
.h3{
  text-align: left;
  margin-top: 0px; 
  margin-bottom: 0px; 
}

@media only screen and (max-width: 700px) {

    .banner {
      display: none;
    }
    .box {
      flex-direction: column; 
      align-items: center; 
      position: static; 
      top: auto; 
      border-bottom: none;
    }
  
    .box div {
      margin: 5px; 
    }
    body{
      max-width: 400px;
    }
    .grid-container {
      grid-template-columns: 1fr;  
    }
    .grid-item1 {
      text-align: left; 
    }
    .grid-item2 {
      text-align: left; 
    }

    .grid-container > div {
      margin-top: 0px; 
      margin-bottom: 0px; 
      padding: 0px ;
      
    }
    .grid-container > div h3 {
      margin-top: 0px; 
      margin-bottom: 0px; 
    }
    .paragraph{
      display: none; 
    }
  }


  
  
  
