body {
  max-width: 1400px; 
  margin: 0 auto; 
  
}
.button-link {

  border: none; 
  font-weight: bold; 
  padding: 10px 20px; 
  background-color: transparent; 
  cursor: pointer; 
  transition: border-color 0.3s; 
  text-decoration: none; 
  font-size: 18px; 
  color: #5C3D24; 

}

  .box 
  {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex; 
    justify-content: space-between; 
    position: sticky;
    top: 0px;
    background-color: #E9D5B2;
    border-bottom: 1px solid #f3eaea69; 
  }

  .box div {
    text-align: center;
    flex: 1; 
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    text-align: center; 
}
.image-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.image-container img {
  max-width: 100%;
  height: auto;
  margin: 10px;
}
h1 {
  color: #333;
}
@media screen and (max-width: 600px) {
    
    .banner {
      display: none;
    }
    .box {
      flex-direction: column; 
      align-items: center; 
      position: static; 
      top: auto; 
    }
  
    .box div {
      margin: 5px; 
    }
    body{
      max-width: 400px;
    }
    img{
      width: 350px;
    }
  }


  
  
  
