.box {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex; 
  justify-content: space-between;

  position: sticky;
  top: 0px;
  background-color: white;
  border-bottom: 1px solid #00000069; 
}

.box div {
  text-align: center;
  flex: 1; 
}
.button-link {
  border: none; 
  font-weight: bold; 
  padding: 10px 20px; 
  background-color: transparent;
  cursor: pointer; 
  transition: border-color 0.3s; 
  text-decoration: none; 
  font-size: 18px; 
  color: #333; 
}
.button-link:hover {
  border-color: #ffa500; 
}

body {
  max-width: 1400px; 
  margin: 0 auto; 
}
.profile {
  display: flex;
  padding: 2em;
}
.information {
  margin-right: 10px;
}
.information img {
  max-width: 50%;
  border-radius: 60%;
}
.details {
  margin-left: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

@media (max-width: 600px) {
  .box {
    flex-direction: column; 
    align-items: center; 
    position: static; 
    top: auto; 
  }

  .box div {
    margin: 5px; 
  }
  body {
    max-width: 400px;
  }
  .profile {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
  }
  .information img {
    max-width: 40%;
    border-radius: 60%;
  }
  .details {
    margin-left: 0;
  }
  ul {
    text-align: left;
  }
  .introduction {
    text-align: left;
  }
}
