body {
  max-width: 1400px; /* 设置最大宽度，根据您的需要进行调整 */
  margin: 0 auto; /* 让内容居中 */
}
.button-link {
  border: none; /* 移除按钮的边框 */
  font-weight: bold; /* 加粗按钮文字 */
  padding: 10px 20px; /* 调整按钮的内边距，使按钮更大 */
  background-color: transparent; /* 移除按钮的背景颜色 */
  cursor: pointer; /* 添加指针样式，表示可点击 */
  transition: border-color 0.3s; /* 添加过渡效果，使下边框有动画效果 */
  text-decoration: none;
  font-size: 18px; /* 设置字体大小 */
  color: #5c3d24; /* 设置文字颜色 */
}


.box {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex; /* 容器设置，flex弹性，*/
  justify-content: space-between;
  /* 在主轴上均匀分配，每个项目之间放置等量的空间，左右项目与弹性容器的边缘齐平。与最高的一样高*/
  /* 无论页面怎么伸缩，始终均分*/
  position: sticky;
  top: 0px;
  background-color: #e9d5b2;
  border-bottom: 1px solid #f3eaea69; /* 添加下边框，1px宽，颜色为黑色 */
}

.box div {
  text-align: center;
  flex: 1; /* 使按钮平均分配容器的宽度 */
}

.grid-container {
  display: grid;
  gap: 20px; /* 图片之间的间距 */
  grid-template-columns: repeat(3, 1fr); /* 初始情况下，每行3列 */
}

.grid-item1 {
  grid-row: 1 / span 2;
}
h3 {
  font-size: 16px;
}

.h3-button{
  border: none; /* 移除按钮的边框 */
  font-weight: bold;
  background-color: transparent; 
  cursor: pointer; /* 添加指针样式，表示可点击 */
  text-decoration: none; /* 去除链接的下划线 */
  color: black; /* 设置文字颜色 */
}

img {
  width: 100%; /* 图片宽度占满容器 */
}

@media (max-width: 600px) {
  .box {
    flex-direction: column; /* 垂直排列按钮 */
    align-items: center; /* 居中按钮 */
    position: static; /* 或者可以直接删除这一行 */
    top: auto; /* 或者可以直接删除这一行 */
  }

  .box div {
    margin: 5px; /* 调整按钮之间的间距 */
  }
  body {
    max-width: 400px;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 屏幕较窄时，每行2列 */
  }
}
